@if (User.IsInRole("AdministrativeDepartment"))
{
    <li class="color hover">
        <a href="@Url.Action("Display","CommentQuestions")" style="font-family:'NotoSansCJKtc-Bold';color:#CF6766">編寫調查</a>
    </li>
    <li class="color hover">
        <a href="@Url.Action("Index","CommentMains")" style="font-family:'NotoSansCJKtc-Bold';color:#CF6766">發起調查</a>
    </li>
}
