@if (User.IsInRole("DepartmentLeader"))
{
    <li class="color hover">
        <a href="@Url.Action("Index", "LeaveHistories")" style="font-family:'NotoSansCJKtc-Bold';color:#CF6766">部門請假記錄</a>
    </li>
}

