@*下拉式功能*@
@using System.Web.Security
@if (User.IsInRole("HRGroup"))
{
    <li class="nav-item  color hover" data-toggle="tooltip" data-placement="right" title="人資註冊系統">
        <a class="nav-link" href="@Url.Action("Register", "Account")">
            <i class="fa fa-fw fa-user" aria-hidden="true" style="font-size: 1.6em; vertical-align: middle;color:#CF6766"></i>
            <span class="nav-link-text" style="font-family:'NotoSansCJKtc-Bold';color:#CF6766"> 人資註冊系統</span>
        </a>
    </li>    
}

