@if (User.IsInRole("GroupLeader"))
{

<li class="color hover">
    <a href="@Url.Action("IndexManage", "ReportTimeSystems")" style="font-family:'NotoSansCJKtc-Bold'">查看員工回報</a>
</li>
<li class="color hover">
    <a href="@Url.Action("IndexChart", "ReportTimeSystems")" style="font-family:'NotoSansCJKtc-Bold'">回報分析</a>
</li>


}
