@model IEnumerable<BusinessSystemMVC_Admin_page_.Models.EventCalendar>

@{
    ViewBag.Title = "Index";
}



<link href='~/package/calendar/core/main.css' rel='stylesheet' />
<link href='~/package/calendar/daygrid/main.css' rel='stylesheet' />
<link href='~/package/calendar/timegrid/main.css' rel='stylesheet' />
<script src='~/package/calendar/core/main.js'></script>
<script src='~/package/calendar/interaction/main.js'></script>
<script src='~/package/calendar/daygrid/main.js'></script>
<script src='~/package/calendar/timegrid/main.js'></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

<style>
    button, h2 {
        font-family: 'NotoSansCJKtc-Bold';
    }

    th {
        font-family: 'NotoSansCJKtc-Bold';
    }

    td {
        font-family: '微軟正黑體';
        font-weight: 600;
    }

    .color-box {
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
</style>

<br />

<h2>行事曆</h2>
<script>


</script>
<br />

<div>
    <button class="btn btn-success" style="margin-bottom:10px" id='UpdateEvent' onclick="PopupForm('@Url.Action("AddOrEdit","EventCalendars")')"><i class="fa fa-plus" aria-hidden="true"></i> 新增</button>

</div>

<br /><br />
<div class="col-8" style="float:left">
    <div id='evecalendar'></div>
</div>

@*<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@

<div class="col-4" style="float:right">

    <table id="mincal"></table>

</div>



<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />




@section scripts{


    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Scripts/moment.js"></script>


    <script>
        var Popup, dataTable;

        var events = [];
        $(document).ready(function () {


            $.ajax({
                type: "GET",
                url:'@Url.Action("Getevent", "EventCalendars")',
                success: function (data) {
                    

                    $.each(data, function (i, v) {

                        events.push({
                            id: v.CalendarID,
                            DepartmentID: v.DepartmentID,
                            title: v.Subject,
                            start:v.StartTime,
                            end: v.EndTime != null ? v.EndTime : null,
                            color: v.ThemeColor,
                            Location: v.Location,
                            IsImportant: v.IsImportant,
                            Description: v.Description
                            })

                    })
                    
                    GenerateCalender(events);
                    
                },
                error: function (error) {
                    alert('failed');
                    console.log(error)
                }

            })

            $("#UpdateEvent").hover(function () {
                    //$(this).css('color', '#b4c9ef');
                    $(this).css('cursor', 'pointer')
                }, function () {
                    //$(this).css('color', '')

                });

            function GenerateCalender(events1) {


                    
                var calendarEl = document.getElementById('evecalendar');


                var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    defaultDate: new Date(),
                    navLinks: true, // can click day/week names to navigate views
                    editable: true,
                    events: events1,
                    eventClick: function (calEvent, jsEvent, view) {
                        var calID = calEvent.event.id;
                        PopupEditForm('@Url.Action("AddOrEdit","EventCalendars")/' + calID);
                        
                    }
                    //eventDragStop: function (calEvent, jsEvent, view) {
                    //    if
                    //}
                    //eventDrop: function (calEvent, jsEvent) {
                    //    var calID = calEvent.event.id;
                    //    if ()
                    //    {
                    //        Delete(calID);
                    //    }
                        

                    //}
               




                });

                calendar.render();
                //var calpt = $("#evecalendar").position;
                
                //console.log(calpt);



            }

        })

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: '新增事件',
                        height: 600,
                        width: 400,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }


                    });
                    
                });
        }


        function PopupEditForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: '修改事件',
                        height: 600,
                        width: 400,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }


                    });
                });
        }


        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {

                            Popup.dialog("close");


                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                                
                            })
                            
                        }
                        
                    }
                })
                location.reload();   

                    @*type: "GET",
                    url:'@Url.Action("Getevent", "EventCalendars")',
                    success: function (data) {
                    
                        $.each(data, function (i, v) {
                            events.push({
                                id: v.CalendarID,
                                DepartmentID: v.DepartmentID,
                                title: v.Subject,
                                start:v.StartTime,
                                end: v.EndTime != null ? v.EndTime : null,
                                color: v.ThemeColor,
                                Location: v.Location,
                                IsImportant: v.IsImportant,
                                Description: v.Description
                                })
                            console.log(data);
                        })

                    GenerateCalender(events);*@
                    
                    
                
                   

            }
            return false;

        }

        function Delete(id) {
            if (confirm('確定要刪除此筆嗎?')) {
                $.ajax({
                    type: "POST",
                    url: '/EventCalendars/Delete/' + id,
                    success: function (data) {
                        if (data.success) {

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                })
                location.reload(); 
            }
        }
        function drag(id) {

        }


        function dragout(id) {
            



        }
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>


}

@*@section scripts{
        <script>
            //在行事曆顯示database內的資料
            $.get('http://data.ntpc.gov.tw/api/v1/rest/datastore/382000000A-000077-002', function (datas) {
                console.log(datas);

            })

            //var jsonData = JSON.stringify({
            //    employeeName: $("#employeeName").val(),
            //    subject: $("#subject").val(),
            //    DepartmentID: $("#DepartmentID").val(),
            //    StartTime: $("#StartTime").val(),
            //    EndTime: $("#EndTime").val(),
            //    Location: $("#Location").val(),
            //    Description: $("#Description").val(),
            //    IsImportant: $("#IsImportant").val(),
            //    IsFullday: $("#IsFullday").val()


            //})

        </script>

    }*@