@model IEnumerable<BusinessSystemMVC_Admin_page_.Models.EventCalendar>

@{
    ViewBag.Title = "Index";
}


<link href='~/package/calendar/core/main.css' rel='stylesheet' />
<link href='~/package/calendar/daygrid/main.css' rel='stylesheet' />
<link href='~/package/calendar/timegrid/main.css' rel='stylesheet' />
<script src='~/package/calendar/core/main.js'></script>
<script src='~/package/calendar/interaction/main.js'></script>
<script src='~/package/calendar/daygrid/main.js'></script>
<script src='~/package/calendar/timegrid/main.js'></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        $("#UpdateEvent").hover(function () {
            //$(this).css('color', '#b4c9ef');
            $(this).css('cursor', 'pointer')
        }, function () {
            //$(this).css('color', '')

        });


        var calendarEl = document.getElementById('evecalendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            defaultDate: '2019-08-12',
            navLinks: true, // can click day/week names to navigate views
            businessHours: true, // display business hours
            editable: true,
            events: [
                {
                    title: 'Business Lunch',
                    start: '2019-08-03T13:00:00',
                    constraint: 'businessHours'
                },
                {
                    title: 'Meeting',
                    start: '2019-08-13T11:00:00',
                    constraint: 'availableForMeeting', // defined below
                    color: '#257e4a'
                },
                {
                    title: 'Conference',
                    start: '2019-08-18',
                    end: '2019-08-20'
                },
                {
                    title: 'Party',
                    start: '2019-08-29T20:00:00'
                },

                // areas where "Meeting" must be dropped
                {
                    groupId: 'availableForMeeting',
                    start: '2019-08-11T10:00:00',
                    end: '2019-08-11T16:00:00',
                    rendering: 'background'
                },
                {
                    groupId: 'availableForMeeting',
                    start: '2019-08-13T10:00:00',
                    end: '2019-08-13T16:00:00',
                    rendering: 'background'
                },

                // red areas where no events can be dropped
                {
                    start: '2019-08-24',
                    end: '2019-08-28',
                    overlap: false,
                    rendering: 'background',
                    color: '#ff9f89'
                },
                {
                    start: '2019-08-06',
                    end: '2019-08-08',
                    overlap: false,
                    rendering: 'background',
                    color: '#ff9f89'
                }
            ]
        });

        calendar.render();




    });



</script>
<style>


    button, h2 {
        font-family: 'NotoSansCJKtc-Bold';
    }

    th, td {
        font-family: 'NotoSansCJKtc-Bold';
    }

    
    .color-box {
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

</style>



<h2>行事曆</h2>
<script>


</script>
<br />
<br />

<div>
    <button class="btn btn-success" style="margin-bottom:10px" id='UpdateEvent' onclick="PopupForm('/EventCalendars/AddOrEdit' )"><i class="fa fa-plus" aria-hidden="true"></i> 新增貼文</button>

</div>

<br />
<div class="col-8" style="float:left">
    <div id='evecalendar'></div>
</div>

<div class="col-4" style="float:right">

    <table id="mincal"></table>

</div>



<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />




@section scripts{


    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


    <script>
        var Popup, dataTable;


        $(document).ready(function () {
            var events = []
            $.ajax({
                type: "GET",
                url: "/EventCalendars/Getevent",
                success: function (data) {
                    console.log(data)
                    $.each(data, function (i, v) {
                        events.push({
                            employeeID: v.EmployeeID,
                            title: v.Subject,
                            DepartmentID: v.DepartmentID,
                            StartTime: moment(v.StartTime),
                            EndTime: v.EndTime != null ? moment(v.EndTime) : null,
                            Location: v.Location,
                            Description: v.Description,
                            color: v.ThemeColor,
                            IsImportant: v.IsImportant
                        })

                    })

                    //GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                    console.log(error)
                }
            })
            /*
            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    }
                })
            }*/
        })

        //            {
        //                "targets": 0, "data": "Photo", "render": function (url, type, full) {
        //                    return '<img height="60px" src="' + url + '"/>';
        //                },
        //                "orderable": false,
        //                "searchable": false,
        //                "width": "65px"
        //            },
        //            { "targets": 1, "data": "EmployeeName", "width": "60px" },
        //            { "targets": 2, "data": "name", "width": "60px" },
        //            { "targets": 3, "data": "Content" },
        //            { "targets": 4, "data": "PostTime", "render": function (data) { return moment(data).format("YYYY-MM-DD HH:mm:ss") }, "width": "135px" },
        //            {
        //                "targets": 5, "data": "Num", "render": function (data) {
        //                    return "<a class='btn btn-warning btn-sm' onclick=PopupForm('/BulletinBoards/AddOrEdit/" + data + "')><i class='fa fa-pencil'></i> 編輯</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> 刪除</a>"
        //                },
        //                "orderable": false,
        //                "searchable": false,
        //                "width": "150px"
        //            }

        //        ],
        //        "language": {

        //            "emptyTable": "目前無貼文，請點選<b>新增貼文</b>"
        //        }

        //    });

        //});

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: '新增事件',
                        height: 600,
                        width: 400,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {

                            Popup.dialog("close");
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }

                    }
                });
            }
            return false;

        }

        function Delete(id) {
            if (confirm('確定要刪除此筆嗎?')) {
                $.ajax({
                    type: "POST",
                    url: '/EventCalendars/Delete/' + id,
                    success: function (data) {
                        if (data.success) {

                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>


}

@*@section scripts{
        <script>
            //在行事曆顯示database內的資料
            $.get('http://data.ntpc.gov.tw/api/v1/rest/datastore/382000000A-000077-002', function (datas) {
                console.log(datas);

            })

            //var jsonData = JSON.stringify({
            //    employeeName: $("#employeeName").val(),
            //    subject: $("#subject").val(),
            //    DepartmentID: $("#DepartmentID").val(),
            //    StartTime: $("#StartTime").val(),
            //    EndTime: $("#EndTime").val(),
            //    Location: $("#Location").val(),
            //    Description: $("#Description").val(),
            //    IsImportant: $("#IsImportant").val(),
            //    IsFullday: $("#IsFullday").val()


            //})

        </script>

    }*@