@model IEnumerable<BusinessSystemMVC_Admin_page_.Models.Recipient>

@{
    /**/

    /**/

    ViewBag.Title = "Index";
}

<style>
    button, h2 {
        font-family: 'NotoSansCJKtc-Bold';
    }

    th {
        font-family: 'NotoSansCJKtc-Bold';
    }

    td {
        font-family: '微軟正黑體';
        font-weight: 600;
    }
</style>

<br />

<h2>收件夾</h2>

<br />

<button class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('/Recipients/AddOrEdit')"><i class="fa fa-plus" aria-hidden="true"></i> 新增郵件</button>
<br /><br />
<div style="width:97%">
    <table id="Btable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>寄件者</th>
                <th>主旨</th>
                <th>內容</th>
                <th>收件時間</th>
                <th>刪除</th>
            </tr>
        </thead>
    </table>



</div>

<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


@section scripts{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Scripts/moment.js"></script>

    <script>
        var Popup, dataTable;

        $(document).ready(function () {
            dataTable = $('#Btable').DataTable({
                "ajax": {
                    url: '/Recipients/LoadData',
                    method: 'GET',
                    dataType: 'json'
                },
                "columnDefs": [

                    { "targets": 0, "data": "EmployeeName", "width": "60px" },
                    { "targets": 1, "data": "Title", "width": "60px" },
                    { "targets": 2, "data": "Data" },
                    { "targets": 3, "data": "MailingDate","render": function (data) { return moment(data).format("YYYY-MM-DD HH:mm:ss") }, "width": "135px" },
                    { "targets": 4, "data": "RecipientID", "render": function (data) {
                        return "<a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> 刪除</a>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }

                ],
                "language": {

                    "emptyTable": "尚未收到郵件"
                }

            });

        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: '撰寫郵件',
                        height: 570,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                    $('#department').bind("change", function () {
                        ChangeDepartment();
                    });
                });
        }
        function ChangeDepartment() {
            var selectedValue = $('#department option:selected').val();
            GetEmployee(selectedValue);
        }
        function GetEmployee(departmentID) {
            $.ajax({
                url: '@Url.Action("GetEmployee", "Recipients")',
                data: { departmentID: departmentID },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $('#EmployeeID').empty();
                        $('#EmployeeID').append($('<option></option>').val('').text('--收件人--'));
                        $.each(data, function (i, item) {
                            $('#EmployeeID').append($('<option></option>').val(item.Key).text(item.Value));
                        });
                    }
                }
            });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {

                            Popup.dialog("close");
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }

                    }
                });
            }
            return false;

        }

        function Delete(id) {
            if (confirm('確定要刪除郵件嗎?')) {
                $.ajax({
                    type: "POST",
                    url: '/Recipients/Delete/' + id,
                    success: function (data) {
                        if (data.success) {

                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
    </script>
}

