* {
    margin: 0;
    padding: 0;
}
div {
    margin-top:50px;
    text-align:center;
}
table {
    padding: 20px;
    border-radius: 20px;
    background-color: azure;
    padding-bottom: 5px;
    margin: auto;
    margin-top: 100px;
}

p {
    border: 1px solid blue;
    padding: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
    font-size: 20px;
}

.titel {
    border: 1px solid #743A3A;
    border-radius: 5px;
    background-color: #B87070;
    color: white;
    margin: 100px 20px;
    padding: 5px;
    font-size: 20px;
}