@model IEnumerable<BusinessSystemMVC_Admin_page_.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
}

@section Styles{
<style>
    button, h2 {
        font-family: 'NotoSansCJKtc-Bold';
    }

    th {
        font-family: 'NotoSansCJKtc-Bold';
    }

    td {
        font-family: '微軟正黑體';
        font-weight: 600;
    }
</style>

    @*<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<br />

<h2>請購簽核</h2>

<br />

<div style="width:97%">
    <table id="ApprovalTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr style="text-align:center">
                <th>簽核/駁回</th>
                <th>請購單編號</th>
                <th>產品</th>
                <th>單價</th>
                <th>數量</th>
                <th>總價</th>
                <th>原由</th>
            </tr>
        </thead>
    </table>
</div>


@section scripts{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Scripts/moment.js"></script>

    <script>
        var Popup, dataTable; 

        $(document).ready(function () {
            dataTable = $('#ApprovalTable').DataTable({
                "ajax": {
                    url: '@Url.Action("LoadDataSign", "OrderDetails")',
                    method: 'GET',
                    dataType: 'json'
                },            
                "order":[1,"asc"],
                "columnDefs": [
                    {
                        "targets": 0,
                        "data": "OrderID",
                        "width":"200px",
                        "className": "text-center align-middle",
                        "render": function (data) {
                            return `<a class='btn btn-warning btn-sm' onclick=Submit("@Url.Action("ApprovalSubmit", "OrderDetails")/${data}")><i class='fa fa-pencil'></i> 簽核</a>
                                        <a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=RejectForm("@Url.Action("ApprovalReject", "OrderDetails")/${data}")><i class='fa fa-trash'></i> 駁回</a>`
                        },
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "targets": 1,
                        "data": "OrderID",
                        "width": "150px",
                        "className": "text-center align-middle"
                    },
                    {
                        "targets": 2,
                        "data": "ProductName",
                        "width": "180px",
                        "className": "text-center align-middle",
                    },
                    {
                        "targets": 3,
                        "data": "UnitPrice",
                        "width": "100px",
                        "className": "text-center align-middle",
                    },
                    {
                        "targets": 4,
                        "data": "Quantity",
                        "width": "100px",
                        "className": "text-center align-middle",
                    },
                    {
                        "targets": 5,
                        "data": "TotalPrice",
                        "width": "100px",
                        "className": "text-center align-middle",
                    },
                    {
                        "targets": 6,
                        "data": "Note",
                        "className": "align-middle",
                        "orderable": false,
                        "searchable": false,
                    },
                ],
                "language": {
                    "emptyTable": "目前無未簽核請購單",
                    "processing": "處理中...",
                    "loadingRecords": "載入中...",
                    "lengthMenu": "顯示 _MENU_ 項結果",
                    "zeroRecords": "沒有符合的結果",
                    "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
                    "infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
                    "infoFiltered": "(從 _MAX_ 項結果中過濾)",
                    "infoPostFix": "",
                    "search": "搜尋:",
                    "paginate": {
                        "first": "第一頁",
                        "previous": "上一頁",
                        "next": "下一頁",
                        "last": "最後一頁"
                    },
                    "aria": {
                        "sortAscending": ": 升冪排列",
                        "sortDescending": ": 降冪排列"
                    }
                }
            });
        });

        function Submit(Url) {
            if (confirm('確定要簽核此筆請購嗎?')) {
                $.ajax({
                    type: "POST",
                    url: Url,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
        }

        function RejectForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: '駁回請購原因',
                        height: 400,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        function Reject(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog("close");
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: '詳細簽核',
                        height: 600,
                        width: 400,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }
    </script>
}