@model IEnumerable<EIPBussinessSystem_MVC.Models.CompanyVehicleHistory>
@section styles
{
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

}
@{
    ViewBag.Title = "公務車租借";
}

<form id="addForm" action="Useradd.action" typeof="post">
    <div style="width:300px;border:1px solid black;margin:20px;">
        <h3>起始時間</h3>
        <input type="datetime-local" id="date1" style="width:360px" />
        @*<select id="firstLevel" style="width:100px" class="form-control">
                <option>上午</option>
                <option>下午</option>
            </select>*@
        @*<select id="secondLevel" style="width:100px" class="form-control">
                <option>08:00</option>
                <option>09:00</option>
                <option>10:00</option>
                <option>11:00</option>
                <option>12:00</option>
            </select>*@
        <br />
    </div>

    <div style="width:300px;border:1px solid black;margin:20px">
        <h3>結束時間</h3>
        <input type="datetime-local" id="date2" style="width:360px" />
        @*<select id="firstLevel1" style="width:100px" class="form-control">
                <option>上午</option>
                <option>下午</option>
            </select>
            <select id="secondLevel1" style="width:100px" class="form-control">
                <option>08:00</option>
                <option>09:00</option>
                <option>10:00</option>
                <option>11:00</option>
                <option>12:00</option>
            </select>*@
        <br />
        <input type="button" id="btn1" class="btn-success" value="查詢" />
    </div>
</form>



<div id="succ"></div>

@*<table class="table" id="succ">
    @Html.Partial("_FindedPartialView")
</table>*@





@section scripts
{
    <script>
        $("#btn1").bind("click", function () {
            UpdateVehicle();
        })
        function UpdateVehicle() {
            var data1 = {
                stime :  $("#date1").val(),
                etime :  $("#date2").val()
            };
            $.ajax({
                url: "@Url.Action("Finded","CompanyVehicleBorrow")",                
                type: "post",               
                data: JSON.stringify(data1),
                success: function (result) { $("#succ").html(result); },
                error: function (e) { alert(e.responseText);},      
               
            });
        }
    </script>



    @*@*開始時間*@
    <script>
        var data1 = ["08:00", "09:00", "10:00", "11:00", "12:00"];
        var data2 = ["01:00", "02:00", "03:00", "04:00", "05:00"];

        $("#firstLevel").bind("change", function () {
            if ($("#firstLevel option:selected").text() == "上午") {
                $("#secondLevel").empty();
                for (var i = 0; i < data1.length; i++)
                    $("#secondLevel").append(`<option>${data1[i]} </option>`);
            }
            else if ($("#firstLevel option:selected").text() == "下午") {
                $("#secondLevel").empty();
                for (var i = 0; i < data2.length; i++)
                    $("#secondLevel").append(`<option> ${data2[i]}</option>`);
            }
        });
        $("#secondLevel").bind("change", function () {
            if ($("#secondLevel option:selected").text() == "08:00")
            {
                $("#date1").setHours(8)
                $("#date1").setMinutes(0)
                $("#date1").setSeconds(0)


            }


        })
        @*結束時間*@

    </script>
    <script>
        @* 開始時間 *@
        $("#btn1").bind("click", function () {
            if ($("#secondLevel option:selected").text() == "08:00") {
                var st = $("#date1").val();
                st.setHours(17);
            }
            else if ($("#secondLevel option:selected").text() == "09:00") {
                $("#date1").setHours(9);
            }
            else if ($("#secondLevel option:selected").text() == "10:00") {
                $("#date1").setHours(10);
            }
            else if ($("#secondLevel option:selected").text() == "11:00") {
                $("#date1").setHours(11);
            }
            else if ($("#secondLevel option:selected").text() == "12:00") {
                $("#date1").setHours(12);
            }
            else if ($("#secondLevel option:selected").text() == "01:00") {
                $("#date1").setHours(13);
            }
            else if ($("#secondLevel option:selected").text() == "02:00") {
                $("#date1").setHours(14);
            }
            else if ($("#secondLevel option:selected").text() == "03:00") {
                $("#date1").setHours(15);
            }
            else if ($("#secondLevel option:selected").text() == "04:00") {
                $("#date1").setHours(16);
            }
            else if ($("#secondLevel option:selected").text() == "05:00") {
                $("#date1").setHours(17);
            }
        })
        @*結束時間*@
        $("#btn1").bind("click", function () {
            if ($("#secondLevel1 option:selected").text() == "08:00") {
                $("#date2").setHours(8);
            }
            else if ($("#secondLevel1 option:selected").text() == "09:00") {
                $("#date2").setHours(9);
            }
            else if ($("#secondLevel1 option:selected").text() == "10:00") {
                $("#date2").setHours(10);
            }
            else if ($("#secondLevel1 option:selected").text() == "11:00") {
                $("#date2").setHours(11);
            }
            else if ($("#secondLevel1 option:selected").text() == "12:00") {
                $("#date2").setHours(12);
            }
            else if ($("#secondLevel1 option:selected").text() == "01:00") {
                $("#date2").setHours(13);
            }
            else if ($("#secondLevel1 option:selected").text() == "02:00") {
                $("#date2").setHours(14);
            }
            else if ($("#secondLevel1 option:selected").text() == "03:00") {
                $("#date2").setHours(15);
            }
            else if ($("#secondLevel1 option:selected").text() == "04:00") {
                $("#date2").setHours(16);
            }
            else if ($("#secondLevel1 option:selected").text() == "05:00") {
                var dt = $("#date2").val();
                dt.setHours(17);
            }

        });
    </script>
    <script>
        $("#btn1").bind("click", function () {
            alert($("#date1").val())
        }
        );
    </script>*


}
