@model IEnumerable<EIPBussinessSystem_MVC.Models.CompanyVehicle>
@section styles
{
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

}
@{
    ViewBag.Title = "公務車租借";
}

<form id="addForm" action="Useradd.action" typeof="post">
    <div style="width:300px;border:1px solid black;margin:20px;">
        <h3>起始時間</h3>
        <input type="date" id="date1" style="width:360px" />
        <select id="firstLevel" style="width:100px" class="form-control"></select>
        <select id="secondLevel" style="width:100px" class="form-control"></select>
        <br />
    </div>

    <div style="width:300px;border:1px solid black;margin:20px">
        <h3>結束時間</h3>
        <input type="date" id="date2" style="width:360px" />
        <select id="firstLevel1" style="width:100px" class="form-control"></select>
        <select id="secondLevel1" style="width:100px" class="form-control"></select>
        <br />
        <input type="button" id="btn1" class="btn-success" value="查詢" />
    </div>
</form>
<div id="test1"></div>


<div id="succ"></div>







@section scripts
{
    <script>
        //
        //各種變數
        //
        var firL = document.querySelector("#firstLevel")
        var secL = document.querySelector("#secondLevel")
        //
        //
        //
        $(document).ready(function () {
            selecttime();
        })
        $("#firstLevel").change(function () {
            changeLevel();

        })
        $("#firstLevel1").change(function () {
            changeLevel1();
        })
        $("#btn1").click(function () {
            getDate();
        })

        //
        //抓取年月日
        //
        function getDate() {
            var line1 = "-";
            var pik1 = ":";
            //成功取起始時間的年分,月份,日期
            var dt = $("#date1").val();
            var d = new Date(dt);
            var yearObj = d.getFullYear();
            var monthObj = d.getMonth()+1;
            var dateObj = d.getDate();
            var ht = $("#secondLevel").val();
            //成功取結束時間的年分,月份,日期
            var dt = $("#date2").val();
            var d1 = new Date(dt);
            var yearObj1 = d1.getFullYear();
            var monthObj1 = d1.getMonth() + 1;
            var dateObj1 = d1.getDate();
            var ht1 = $("#secondLevel1").val();
            //
            //需要的時間格式
            //
            var dtS = yearObj + line1 + monthObj + line1 + dateObj + " " + ht + pik1 + 0 + pik1 + 0;
            var dtE = yearObj1 + line1 + monthObj1 + line1 + dateObj1 + " " + ht1 + pik1 + 0 + pik1 + 0  ;
            //
            //送入資料庫
            //
            //
            //創建變數===================
            //
            var NeedLN = [];
            var UseLN = [];
            var NoUseLN = [];
            var StimeU = [];
            var EtimeU = [];
            var count = 0;
            //
            //============================
            //
            //
            //取所有車牌========================
            //
            $.ajax({
                url: '@Url.Action("Finded1","CompanyVehicleBorrow")',
                type: "GET",
                dataType: "json",
            }).done(function (u) {
                for (var i = 0,max = u.length; i < max; i++) {
                    UseLN[i] = u[i].LicenseNumber;
                }
                console.log(UseLN);
                })
            //
            //===================================
            //
            //
            //取HisTory的車牌，起始時間，歸還時間
            //
            $.ajax({
                url:'@Url.Action("Finded", "CompanyVehicleBorrow")',
                type: "GET",
                dataType:"json",
            }).done(function (p) {
                for (var j = 0, max = p.length; j < max; j++) {
                    var Stim = parseInt(String(p[j].StartDateTime).substring(6, 19));
                    var Etim = parseInt(String(p[j].EndDateTime).substring(6, 19));
                    var Stime = timestampToTime(Stim);
                    var Etime = timestampToTime(Etim);
                    NoUseLN[j] = p[j].LicenseNumber;
                    StimeU[j] = Stime;
                    EtimeU[j] = Etime;

                    console.log(p[0].StartDateTime);
                }
                })
            //
            //=============================================
            //
            
        }
                @*$.ajax({
                    url: '@Url.Action("Finded","CompanyVehicleBorrow")',
                    type: "GET",
                    dataType: "json",
                }).done(function (p) {*@
                    //console.log(p.LicenseNumber)
                    //console.log(u.LicenseNumber)
                    //var NoUseLN = [];
                    //var count = 0;
                    //for (var i = 0, max = u.length; i < max; i++) {
                    //    for (var j = 0, max1 = p.length; j < max1; j++) {
                    //        var Stim = parseInt(String(p[j].StartDateTime).substring(6, 19));
                    //        var Etim = parseInt(String(p[j].EndDateTime).substring(6, 19));
                    //        var Stime = timestampToTime(Stim);
                    //        var Etime = timestampToTime(Etim);
                    //        //判斷
                    //        if ((dtS >= Stime && dtE <= Etime) ||
                    //            ((dtS >= Stime && dtS < Etime) && dtE > Etime) ||
                    //            (dtS < Stime && (dtE > Stime && Etime)) ||
                    //            (dtS < Stime && dtE > Etime))
                    //        {
                    //            NoUseLN[count] = p.LicenseNumber;
                    //            count++;
                    //        }
                    //    }
                    //    if (p[i].LicenseNumber.indexof(NoUseLN) !== -1) {
                    //        console.log(p[i].LicenseNumber);
                    //    }
                    //}

                
                //-----------------
                //var Stim = parseInt(String(p[i].StartDateTime).substring(6, 19));
                //var Etim = parseInt(String(p[i].EndDateTime).substring(6, 19));
                //var Stime = timestampToTime(Stim);
                //var Etime = timestampToTime(Etim);
                //console.log(Stime);
                //console.log(Etime);
                //-----------------
                    @*if ((dtS >= p[i].StartDateTime && dtE <= p[i].EndDateTime) || ((dtS >= p[i].StartDateTime && dtS < p[i].EndDateTime) && dtE > p[i].EndDateTime) || (dtS < p[i].StartDateTime && (dtE > p[i].StartDateTime && dtE <= p[i].EndDateTime)) || (dtS < p[i].StartDateTime && dtE > p[i].EndDateTime)) {
                        $.ajax({
                            url: '@Url.Action("Finded1","CompanyVehicleBorrow")',
                            type: "GET",
                            dataType:"json"
                        }).done(function (u) {
                        })*@
            //})
        
        function timestampToTime(timestamp) {

            var date = new Date(timestamp);//时间戳为10位需*1000，时间戳为13位的话不需乘1000

            var Y = date.getFullYear() + '-';

            var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';

            var D = date.getDate() + ' ';

            var h = date.getHours() + ':';

            var m = date.getMinutes() + ':';

            var s = date.getSeconds();

            return Y + M + D + h + m + s;

        }
        //if ((dtS >= p[i].StartDateTime && dtE <= p[i].EndDateTime) || ((dtS >= p[i].StartDateTime && dtS < p[i].EndDateTime) && dtE > p[i].EndDateTime) || (dtS < p[i].StartDateTime && (dtE > p[i].StartDateTime && dtE <= p[i].EndDateTime)) || (dtS < p[i].StartDateTime && dtE > p[i].EndDateTime)) {

        //
        //產生起始時間
        //
        function selecttime() {
            //時段產生
            $("#firstLevel").append('<option value="0">上午</option>')
            $("#firstLevel").append('<option value="1">下午</option>')
            $("#firstLevel1").append('<option value="0">上午</option>')
            $("#firstLevel1").append('<option value="1">下午</option>')
            //時間產生
            for (var i = 8; i <= 12; i++) {
                $("#secondLevel").append(`<option value = "${i}">${i}:00</option>`)
                $("#secondLevel1").append(`<option value = "${i}">${i}:00</option>`)
            }
        }
        //
        //起始時間的firstLevel的Change事件
        //
        function changeLevel() {
            //
            //起始時間change事件===========================================
            //
            if ($("#firstLevel option:selected").text() == "上午") {
                $("#secondLevel").empty();
                for (var i = 8; i <= 12; i++) {
                    $("#secondLevel").append(`<option value = "${i}">${i}:00</option>`)
                }
            }
            else if ($("#firstLevel option:selected").text() == "下午") {
                $("#secondLevel").empty();
                for (var i = 13; i <= 17; i++) {
                    $("#secondLevel").append(`<option value = "${i}">${i}:00</option>`)
                }
            }
            //
            //===============================================================
            //
        }
        //
        //結束時間的firstLevel的Change事件
        //
        function changeLevel1() {
            //
            //結束時間change事件===========================================
            //
            if ($("#firstLevel1 option:selected").text() == "上午") {
                $("#secondLevel1").empty();
                for (var i = 8; i <= 12; i++) {
                    $("#secondLevel1").append(`<option value = "${i}">${i}:00</option>`)
                }
            }
            else if ($("#firstLevel1 option:selected").text() == "下午") {
                $("#secondLevel1").empty();
                for (var i = 13; i <= 17; i++) {
                    $("#secondLevel1").append(`<option value = "${i}">${i}:00</option>`)
                }
            }
            //
            //===============================================================
            //
        }

    </script>






}
