@{
    ViewBag.Title = "SignOffSystemView";
}
@section Styles{
    <style>
        button {
            font-family: 'NotoSansCJKtc-Bold';
        }

        h2 {
            font-family: 'NotoSansCJKtc-Bold';
        }
    </style>
    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
<h2>SignOffSystemView</h2>

@Html.Partial("_HRSignOffSystemPartial")

@Html.Partial("_RequisitionSignProgressPartial")


@section scripts{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Scripts/moment.js"></script>

    @*==========Rory的啦=========*@
    <script>
        var Popup, dataTable; //height="75%" width="75%" src=\"'height="75%"

        //註冊進度
        $(document).ready(function () {
            dataTable = $('#NewEmpStable').DataTable({
                "ajax": {
                    url: '@Url.Action("LoadData", "EmployeeApprovalTemps")',
                    method: 'GET',
                    dataType: 'json'
                },
                "columnDefs": [

                    {
                        "targets": 0, "data": "EmployeeName", "width": "60px" ,
                        "orderable": false,
                        "searchable": false, },
                    { "targets": 1, "data": "Gender", "width": "60px" },
                    { "targets": 2, "data": "Account", "width": "60px" },
                    { "targets": 3, "data": "name", "width": "60px"  },    /*department*/
                    { "targets": 4, "data": "GroupName", "width": "60px" },
                    { "targets": 5, "data": "position1", "width": "60px"  },
                    { "targets": 6, "data": "EditorTime", "render": function (data) { return moment(data).format("YYYY-MM-DD HH:mm:ss") }, "width": "135px" },
                    { "targets": 7, "data": "ID", "width": "150px"     }
                ],
                "language": {
                    "emptyTable": "無待簽核事項。"
                }
            });
        });

        //詳細資料
        function PopupDetail(Url) {
            var formDiv = $('<div/>');
            $.get(Url)
                .done(function (response) {
                    formDiv.html(response);
                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: '詳細資料',
                        height: 700,
                        width: 400,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }
        //核准
        function AcceptSign(Url) {
            if (confirm('確定簽核此筆資料嗎?')) {
                $.ajax({
                    type: "POST",
                    url: Url,
                }).done(function (data) {
                    if (data.success) {
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                });
            }
        }

        function PopupAcceptSign(Url) {
            if (confirm('確定簽核此筆資料嗎?')) {
                $.ajax({
                    type: "POST",
                    url: Url,
                }).done(function (data) {
                    if (data.success) {
                        Popup.dialog('destroy').remove();
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                });
            }
        }

        function RejectSign(Url) {
            if (confirm('確定駁回此筆資料嗎?')) {
                $.ajax({
                    type: "POST",
                    url: Url,
                }).done(function (data) {
                    if (data.success) {
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                });
            }
        }

        function PopupRejectSign(Url) {
            if (confirm('確定駁回此筆資料嗎?')) {
                $.ajax({
                    type: "POST",
                    url: Url,
                }).done(function (data) {
                    if (data.success) {
                        Popup.dialog('destroy').remove();
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                });
            }
        }
    </script>

    @*==========晨瑋=========*@
    <script>
        var Popup, dataTable; //height="75%" width="75%" src=\"'height="75%"

        $(document).ready(function () {
            dataTable = $('#ApprovalProgressTable').DataTable({
                "ajax": {
                    url: '/OrderDetails/LoadDataSignProgress',
                    method: 'GET',
                    dataType: 'json'
                },
                "columnDefs": [
                    {
                        "targets": 0,
                        "data": "OrderID",
                        "width": "100px",
                        "className": "text-center align-middle"
                    },
                    {
                        "targets": 1,
                        "data": "FirstSignStatus",
                        "width": "170px",
                        "className": "text-center align-middle",
                    },
                    {
                        "targets": 2,
                        "data": "SecondSignStatus",
                        "width": "170px",
                        "className": "text-center align-middle"
                    },
                    {
                        "targets": 3,
                        "data": "ThirdSignStatus",
                        "width": "170px",
                        "className": "text-center align-middle"
                    },
                    {
                        "targets": 4,
                        "data": "FourthSignStatus",
                        "width": "170px",
                        "className": "text-center align-middle"
                    },
                    {
                        "targets": 5,
                        "data": "OrderID",
                        "className": "text-center align-middle",
                        "render": function (data) {
                            return "<a class='btn btn-warning btn-sm' onclick=PopupForm('/OrderDetails/AddOrEditSignProgress/" + data + "')><i class='fa fa-list-alt'></i> 內容</a>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }

                ],
                "language": {
                    "emptyTable": "目前無未簽核請購單"
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: '詳細簽核',
                        height: 600,
                        width: 400,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {

                            Popup.dialog("close");
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }

                    }
                });
            }
            return false;
        }
    </script>

}