@model BusinessSystemMVC_Admin_page_.Models.CommentMain
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>查看調查結果</title>
    <style>


        h2, label, span, select, option, th, input, button {
            font-family: 'NotoSansCJKtc-Bold';
        }

        td, select, option {
            font-family: '微軟正黑體';
        }
    </style>
</head>
<body>
    <h2>查看調查結果</h2>
    <br/>
    <div>
         
    </div>
</body>
</html>
