body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login-body {
    background-image: url("https://lh3.googleusercontent.com/-I-NuxexH96q_Upv1X2VeX1n_elWcsIOCQz-Dsxyl_YVtgpT2E2acyfvqE_nOnVii6MOdrrhGwNaeaRGewJ9ouZSDBdrMVZeSM_SVSoeNpHtAHcV_XWAjsfb_W4a4EnAV4YnCvLEBUDTFz6vVHDl_6hmlYvICaKT5FPsrgf3vCRqaYOGcWjoEs3fladj-rPvRodbHVhQZnmaLfH6eaBqa5pHNm-C2k50yJJ4_NmwYtqNMo3NskL2gHzZDxjFrsY3R3AOIwwRpZPqytboAEeox37Po4PkEZzUXhticOdV6nTN5kKJJCQ0UTtUS67VOEsppDaYcuBH1qfKwMnRL_bmDJwL404Aya24q4gCo2IYYjM-FIxU_9UXpOzDU_TefPY-WRyQNjqVufGe48ao1uQxagJpX8AQQ6ceJbEmnp6kKYbpXZLMMI_oXYJc2AeTbpr-xkFDjXFzTtOgbYL9rya_x7mX0sd0IHV3tRBTJlZ5_hHg1PzrD0agVlGbFkqQmzN9kxY7tNehfZm6A7AguzPbDUA73ph1NjlOcb2lF4mq53wRQQbnAffLVp4LZV1rNsJtrgXWhKzjYb2ATDcnLeT3ZCCnA6cuYIfP21viyyL4Kji8HNBpCVbdrBh-ixPPYKg4L63zLPlSlLi2rOx4IhQep_T1VAecRCxpAvtM5m7n-xLeqipg=w1292-h970-no");
}
